/* Archivo: crudFunciones.css */

/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h2 {
    
    text-align: center;
    margin: 20px 0;
    color: #444;
}

/* Formulario */
.formulario-pelicula {
    width: 60%;
    max-width: 55%;
    margin: 100px auto 0px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label{
    margin: 15px 0 5px;
    font-weight: bold;
    color: #555;
}

.label-pelicula {
    display: block;
    margin: 15px 0;
    font-weight: bold;
    color: #555;
}

.input-pelicula,
textarea {
    width: 96.9%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px;
}

.boton-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-submit:hover {
    background-color: #218838;
}

/* Tabla */
.tabla-peliculas {
    width: 100%;
    max-width: 95%;
    margin: 0 auto 30px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabla-peliculas th,
.tabla-peliculas td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.tabla-peliculas th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.tabla-peliculas tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-peliculas tr:hover {
    background-color: #eaf1f8;
}

.tabla-peliculas td {
    color: #555;
}

/* Encabezado */
.encabezado-admin {
    background-color: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .formulario-pelicula {
        width: 95%;
    }

    .tabla-peliculas {
        width: 95%;
        font-size: 12px;
    }

    .boton-submit {
        font-size: 14px;
    }
}